*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    width: 490px;
    height: 800px;
    background-color: black;
    margin: 50px;
    border-radius: 50px;
    
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(5, 6rem);
    gap: 10px 15px;
}
.box{
    background-color: rgb(75, 77, 77);
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 50px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30px;
    top: 260px;
}

.box:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.box17{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-right: 100px;
}

.box4{
    color: white;
    background-color: orange;
}

.box8 {
    color: white;
    background-color: orange;
}

.box12 {
    color: white;
    background-color: orange;
}

.box16{
    color: white;
    background-color: orange;
}

.box1 {
    color: black;
    background-color: rgb(199, 198, 195);
    font-size: 40px;
}

.box2 {
    color: black;
    background-color: rgb(199, 198, 195);
}

.box3 {
    color: black;
    background-color: rgb(199, 198, 195);
    font-size: 40px;
}