* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 87, 104);
    color: white;
    padding-top: 15px;
    border-bottom: solid 2px rgb(228, 31, 228);
    list-style: none;
}

a {
    padding-left: 15px;
    text-decoration: none;
    color: white;
    padding-top: 15px;
}

.left {
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.right {
    display: flex;
    padding-right: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.main2 {
    background-color: rgb(65, 87, 104);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: -10px;
    padding-right: 15px;
}

input {
    height: 40px;
    padding-left: 5px;
}

button {
    height: 40px;
    width: 80px;
    color: white;
    background-color: red;
    font-size: 15px;
}

main{
    /* margin: 20px; */
        /* padding-left: 20px; */
        padding-top: 20px;
        display: inline-block;        
        
}

.design{
    background-color:gainsboro;
    margin-left: 20px;
    margin-top: 10px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.design h3{
        margin-bottom: 15px;
}

.design p{
    margin-bottom: 15px;
}




.get{
    background-color: rgb(65, 87, 104);
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
}

.name{
    margin-top: 15px;
    margin-bottom: 15px;
}

.name input{
    width: 440px;
}

.message{
    margin-top: 15px;
    margin-bottom: 15px;
}
.email input{
    width: 440px;
}


#message{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px;
    
}





















footer {
    background-color: rgb(65, 87, 104);
    text-align: center;
    padding: 5px;
    margin-top: 250px;
    border-bottom: solid 2px rgb(228, 31, 228);
}

.Copyright {
    color: white;
    padding-bottom: 5px;
}

.clarusway_logo {
    padding-bottom: 5px;
}