*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(65, 87, 104);
        color: white;
        padding-top: 15px;
        border-bottom: solid 2px rgb(228, 31, 228);
        list-style: none;
}

a{
    /* padding-left: 15px; */
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-top: 15px;
}

.left{
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.right{
    display: flex;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
}

.mainfoto{
    background-image: url(./img/showcase.jpg);
    background-size: cover;
    text-align: center;
    height: 360px;
    /* padding: 180px; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;

    /* background-size: 1200px; */
    background-position: center;
}

.main h1{
    font-weight: 1000;
    font-size: 40px;
}

.main2{
    background-color: rgb(65, 87, 104);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: -10px;
    width: 100%;
}

input{
    height: 40px;
    padding-left: 5px;
}

button{
    height: 40px;
    width: 80px;
    color: white;
    background-color:red;
    font-size: 15px;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 25px;
    /* align-items: center; */
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.logo p{
    padding: 30px;
}

footer{
    background-color: rgb(65, 87, 104);
    text-align: center;
    padding: 5px;
    margin-top: -10px;
    border-bottom: solid 2px rgb(228, 31, 228);
    width: 100%;
}

.Copyright{
    color: white;
    padding-bottom: 5px;
}

.clarusway_logo{
    padding-bottom: 5px;
}




/*! ##################ABOUT########################## */




.AboutUs {
    margin-left: 50px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

    /* display: flex; */
    /* position: relative; */
    display: block;



}

.AboutUs p {
    margin-top: 15px;

    display: block;
    /* position: relative; */

}



.bg1 {
    background-color: rgb(65, 87, 104);
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    height: 200px;
    padding: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    /* display: flex; */
    /* position: relative; */
    display: block;
}

.bg2 {
    background-color: rgb(65, 87, 104);
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    display: flex;
    position: static;

    display: inline-block;
    justify-content: space-between;
    margin: 20px;

}




/*! **************services**************** */


main {
    /* margin: 20px; */
    /* padding-left: 20px; */
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.main-left {
    width: 70%;

}

.design {
    background-color: gainsboro;
    margin-left: 20px;
    margin-top: 10px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.design h3 {
    margin-bottom: 15px;
}

.design p {
    margin-bottom: 15px;
}




.get {
    background-color: rgb(65, 87, 104);
    margin: 30px;
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    width: 25%;
    padding-left: 20px;
    padding-top: 20px;
}

.name {
    margin-top: 15px;
    margin-bottom: 15px;
}

.name input {
    width: 90%;
}

.message textarea {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
}

.email input {
    width: 90%;
}


#message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px;

}